.addForm__editor {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.addForm__input {
  margin-top: 5px;
}


.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.add__button {
  margin-top: 15px;
  font-size: 10px;
  background-color: rgb(128, 0, 128);
  border-radius: 8px;
  border-style: none;
  padding: 3px 5px;
  color: #ffffff;
  cursor: pointer;
}
.form_section{
  display: flex;
  justify-content: center;
}
