.contact__item {
  display: flex;
  align-items: center;
}

.contact__button { 
  background-color: rgb(128, 0, 128);
  border-radius: 8px;
  border-style: none;
  padding: 3px 5px;
  color: #ffffff;
  cursor: pointer;
 
}

.contact__text {
  margin-right: 8px;
}

.contacts_section{
  display: flex;
  justify-content: center;
}


